* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

textarea {
    resize: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgb(46, 41, 41);
    padding: 10px;
}

.logo {
    max-width: 200px;
    object-fit: cover;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin: 20px;
}


.portada {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.507)), url(fotos/9.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.portada h2 {
    font-weight: 200;
    font-size: 50px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 20px;
}

.portada p {
    margin: 15px;
}

h4 {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    gap: 15px;
    background-color: rgb(236, 220, 220);
    margin: 20px 10px 20px 10px;
    padding: 10px;
}

.galeria div img {
    width: 100%;
    height: 100%;
}

.grid-container {
    position: relative;
}

.img-9 {
    grid-column-start: span 2;
}

.ofertas>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(236, 220, 220);
    margin: 20px 10px 20px 10px;
    padding: 10px;
    border-radius: 1rem;

}

.ofertas div div img {
    width: 100%;
    height: 300px;
}

.ofertas div div {
    border: 1px solid rgb(46, 41, 41);
    border-radius: .3rem;
    width: 250px;
    height: 350px;
    text-align: center;
    background-color: rgb(46, 41, 41);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ofertas div div a {
    text-decoration: none;
    color: rgb(46, 41, 41);
    background-color: white;
    font-size: 15px;
    padding: 5px;
}



.nosotros {
    display: grid;
    grid-template-rows: 500px 500px;
    grid-template-columns: 50% 50%;
    margin: 20px 10px 20px 10px;
    padding: 25px;
    align-items: center;
    justify-items: center;
    background-color: rgb(236, 220, 220);
    border-radius: 1rem;
}

h5 {
    margin-top: 30px;
    font-size: 40px;
}


.img-nosotros {
    max-width: 400px;
}



footer {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: rgb(46, 41, 41);
    padding: 10px;
    color: white;
    font-size: 15px;
}

footer a img {
    max-width: 50px;
}

footer div img.logo {
    height: 100px;
    width: 200px;
}


#formulario {
    background-color: rgb(236, 220, 220);
    text-align: center;
    padding: 10px;
    margin: 50px 50px 50px 50px;
    border-radius: 1rem;
}



@media screen and (max-width:690px) {
    header nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 200px;
        padding: 10px;
    }

    .logo{
        max-width: 150px;
    }

    section.portada h2{
        text-align: center;
        width: auto;
        margin: 0;
    }

    .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;
    }

    .grid-container {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width:480px) {
    header nav {
        height: 280px;
    }

    li#index{
        grid-area: index;
    }
    li#galeria{
        grid-area: galeria;
    }
    li#ofertas{
        grid-area: ofertas;
    }
    li#nosotros{
        grid-area: nosotros;
    }
    li#contacto{
        grid-area: contacto;
    }

    ul#barra{
        display: grid;
        grid-template-areas:
        "index galeria ofertas"
        "nosotros contacto contacto";
        grid-template-rows: 50px 50px;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
    }

}

@media screen and (max-width:260px) {
    header nav {
        height: 400px;
    }

    li#index{
        grid-area: index;
    }
    li#galeria{
        grid-area: galeria;
    }
    li#ofertas{
        grid-area: ofertas;
    }
    li#nosotros{
        grid-area: nosotros;
    }
    li#contacto{
        grid-area: contacto;
    }

    ul#barra{
        display: grid;
        grid-template-areas:
        "index" 
        "galeria"
        "ofertas"
        "nosotros"
        "contacto";
        grid-template-rows: repeat(5,50px);
        grid-template-columns: 50px;
    }

}



@media screen and (max-width:690px) {
    header nav {
        flex-direction: column;
    }

    .portada h2 {
        font-size: 50px;
    }
}


@media screen and (max-width:480px) {
    .galeria {
        grid-template-columns: 1fr;
    }

    .grid-container {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width:810px) {
    .img-nosotros {
        max-width: 200px;
    }
}

@media screen and (max-width:530px) {
    section.nosotros{
        display: flex;
        flex-direction: column;
    }
    img.img-nosotros{
        margin-top: 10px;
    }
}